@import "tailwindcss";

:root {
  --background: #f9f9f9;
  --foreground: #171717;
  --destructive: #fe784f;
}

@theme inline {
  --color-background: var(--background) --color-foreground: var(--foreground)
    --color-destructive: var(--destructive);
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--color-background);
  color: #333;
  font-family: "Inter", sans-serif;
}

@layer components {
  .max-pad-container {
    @apply mx-auto max-w-497 px-4;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  flex-between {
    @apply flex items-center justify-between;
  }

  flex-start {
    @apply flex items-center justify-start;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }

  .btn-destructive {
    @apply bg-destructive text-white px-8 py-2 rounded hover:bg-destructive/90 transition duration-300 max-sm:text-sm;
  }

  @layer utilities {
    h1 {
      @apply text-[36px] md:text-[44px] font-bold;
    }
    h2 {
      @apply text-[31px] md:text-[36px] font-semibold;
    }
    h3 {
      @apply text-[24px] md:text-[31px] font-medium;
    }
    h4 {
      @apply text-[15px] md:text-[16px] font-medium;
    }
    h5 {
      @apply text-[14px] md:text-[-16px] font-medium;
    }
    p {
      @apply text-[-14px] text-gray-500;
    }
  }
}
